name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  super-linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: github/super-linter@latest
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_ESLINT: true
          VALIDATE_TYPESCRIPT_ES: true
          VALIDATE_TYPESCRIPT_ES: true
          FAIL_ON_ERROR: true
