name: Lint

on:
  push:
    branches: [ master ]   # or your default branch
  pull_request:
    branches: [ master ]

jobs:
  super-linter:
    name: Super-Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Super-Linter
        uses: github/super-linter@latest
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
