name: CI Pipeline

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

permissions:
  contents: write
  pull-requests: write

jobs:

  lint-and-security:
    uses: ./.github/workflows/lint-and-security.yml

  notify-clickup:
    needs: lint-and-security
    uses: ./.github/workflows/notify-clickup.yml
    secrets: inherit

  migrate-staging:
    needs: lint-and-security
    if: github.ref == 'refs/heads/staging'
    uses: ./.github/workflows/migrate-staging.yml
    secrets: inherit

  # release-licenses:
  #   needs: lint-and-security
  #   if: github.ref == 'refs/heads/master'
  #   uses: ./.github/workflows/release-licenses.yml
  #   secrets: inherit
